html {
cursor:auto;
}
.signature
    {
               width: auto;
    min-height: 400px;
    position: relative;
    text-align: center;
    margin: 10% auto;
      
    
}
    
    .signature svg {
    width: 100%;        
    height: 100%;
    font-family: Px;
    text-transform: uppercase;
    display: block;
    overflow: visible;
    font-size: 10px;
    position: relative;
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
    *, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .signature__img {
    position: absolute;
    top: 42%;
    left: 51%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 220px;
    }
    .signature svg text, .signature svg textPath
    {
            font-weight: 100!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    text-rendering: optimizeSpeed!important;
        color:#06214D;
          font-size:.9em;

    }
    ::after, ::before {
    text-decoration: inherit;
    vertical-align: inherit;
}
    *, ::after, ::before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
    audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
       
}
.section1
{
    height:100vh;
}
.sec1-main
{
    min-height: 100%;
    padding: 3rem 1rem;
    background: linear-gradient(45deg, #ffffff, #4ca1af);
}
.sec1-main video
{
     height:70% !important;
    padding-bottom: 4rem;
}
.heading-sec
{
    padding: 2rem;
}
.logo
{
    background-image: url(images/info-cloud.JPG);
    height: 80px;
    width: 127px;
    background-size: cover;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
}
.heading-title {
    display: inline;
    float: right;
    margin-right: 40%;
    box-sizing: border-box;
    font-family: Fondamento, cursive;
    font-size: 2.5em;
}
.sec1-content {
    line-height: 1.5em;
    font-size: 16px;
    text-align: justify;
    color: rgb(1, 66, 66);
    font-family: Alice, serif;
    padding: 7rem 2rem 6rem 0px;
    animation:2s slideUp;
}
.socialmedia
{
    padding-bottom: 2rem;
    box-sizing:border-box;
}
.line-items {
    margin-left: 0%;
}
.line-items li {
    list-style-type: none;
    display: inline;
    float: left;
    font-size: 16px;
    font-family: Alice, serif;
    font-weight: 400 !important;
    color: rgb(1, 66, 66) !important;
    padding: 2rem;
}
.menu-item a
{
  font-size: 16px;
    font-family: Alice, serif;
    font-weight: 400 !important;
    color: rgb(1, 66, 66) !important;   
}
.testimonials-text
{
    margin:30px 0px !important;
}
.sticky-menu
{
    width:100%;
    box-sizing: border-box;
}
.sticky-menu .menu-item
{
    width: 100%;
    box-sizing: border-box;
    margin-left: 4%;
    padding: 0rem 0 2rem 0;
}
.menu-item a
{
    padding:2rem;
    text-decoration:none !important;
}
.menu-item a:hover
{
    cursor:pointer;
}
.cafeteria-travel
{
   
    min-height: 664px;
   
}
.cbackground
{
    padding: 0 15px;
    margin: auto 14%;
}
.boxmodel
{
    border-radius:8px;
    background: #fff;
    padding:1rem;
}
.cafeteria
{
    display:flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.content-center, .d-align-center
{
    justify-content: center;
}
.flex-start, .d-content-flex
{
    align-items: flex-start;
}
.vcol-sm-6, .vcol-sm-4
{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    flex: 0 0 auto;
    word-break: break;
    word-wrap: break-word
}
.c-element
{
    margin: 20px 0 0px;
    clear: both;
    zoom:1;
}
.c-element::before
{
    content: "";
    display: table;
}
.c-element::after
{
    clear: both;
    display: table;
    content: "";
}
.cafeteria-bg
{
    background: #f6f9fa;
}
.c-spacing
{
    padding: 55px;
}
.cheading-align-left, .d-ele-heading-al
{
    text-align: left;
    font-family: Fondamento, cursive;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    color:#06214D;
    
}
.d-ele-headingg-al 
{
    text-align: left;
    font-family: Fondamento, cursive;
    font-size: 26px;
    font-weight: normal;
    text-transform: none;
    color:#06214D;
    padding-bottom: 2rem;
    border-bottom: 2px solid;
}
.c-text-align-left
{
    text-align: left;
    font-size: 14px;
    font-family: Alice, serif;
    
}
.c-image-container .cimage-align-center
{
    justify-content: center;
    text-align: center;
}
.c-image-container
{
    display: flex;
    overflow: hidden;
}
.c-image-container figure
{
    display: inline-table;
    width: 100%;
}
.c-image-container figure
{
    position: relative;
    overflow: hidden;
}
.c-image-container figure img
{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: auto;
    max-width: none !important;
}
.dcol-sm-6, .dcol-sm-4
{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 auto;
    word-break: break;
    word-wrap: break-word
}
.d-background
{
    padding: 0 12px;
}
.d-element
{
    margin: 20px 0 0px;
    clear: both;
    zoom:1;
}
.d-element::before
{
    content: "";
    display: table;
}
.d-element::after
{
    clear: both;
    display: table;
    content: "";
}
.d-image-container .dimage-align-center
{
    justify-content: center;
    text-align: center;
}
.d-image-container
{
    display: flex;
    overflow: hidden;
}
.d-image-container figure
{
    display: inline-table;
    width: 100%;
}
.d-image-container figure
{
    position: relative;
    overflow: hidden;
}
.d-image-container figure img
{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: auto;
    max-width: none !important;
}
.d-text-align-left
{
    text-align: left;
    font-size: 14px;
    font-family: Alice, serif;
    line-height: 2em;
}
.socialmedia img
{
    width:30px;
    height:30px;
    margin-right: 3%;
    
}
.socialmedia span
{
    margin-right: 2%;
    font-size: 14px;
    font-family: Alice, serif;
}
